*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin:0 0 2rem 0;
  background: #F1F0EB;;
}

header h1{
  font-size: 1.4rem;
}

.logo-search{
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-bar{
  display: none;
  align-items: center;
  padding: 5px;
  gap: 10px;
  width: 18rem;
  height: 2.5rem;
  border-radius: 20px;
  outline: none;
  border: none;
}

nav ul {
  list-style: none;
  display: none;

}

@media screen and (min-width: 768px){
.search-bar{
  display: flex;
}

nav ul {
  display: flex;
  align-items: start;
  gap: 15px;
}

}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}



nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  text-transform: lowercase;
}
.property-listing{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;

}
.property {
  margin: 10px;
  padding: 10px;
  position: relative;
}

.property .title{
  text-transform: capitalize;
}

.property .price{
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.property .location{
  font-size: 1.2rem; 

}

.property img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.property h2 {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 600;
}

.property p {
  margin-bottom: 5px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: red;
  font-size: 1.2rem;
  margin: 10px 0;
}